<a href="https://colab.research.google.com/github/annikarichardson2024/Project1/blob/main/SQL_Connect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Find your data sources....saklia, csv of oscars and country API
1.1 Make you new datqbase tables.
2. Connect to the YOUR database aer6bk and make you tables..using the create table command. you can python to do
3. Find your your data and extract and [push it to you new datatbases....SQL Select --> DF --> df.to_sql
4. for csc same...load csv into your DF and then DF.to_sql
5...API call for hte world...put back in the datafarame and to sql...

last thing is to talk to your new database. select statement on aer6bk

In [1]:
!pip install PyMySQL
!pip install mysql-connector-python
!pip install sqlalchemy

Collecting PyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.4 MB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.0
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 24.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [11]:
host_name = "datatbase.ds2002.org"
#host_ip = "127.0.0.1"
port = "3306"

user_id = "aer6bk"
pwd = "aer6bk!"
db_name = "aer6bk"

In [10]:
import pandas as pd
import os
import pymysql
import warnings

conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute('SELECT * FROM actor;')

    for row in cursor.fetchmany(size=10):
        print(row)

    cursor.close()

except:
    print ("Error: unable to fetch data")

conn.close()

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))
(6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33))
(10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [ ]:
# LOAD CSV

df = pd.read_csv('https://raw.githubusercontent.com/DS3001/linearRegression/main/data/Q1_clean.csv')
df.loc[:,['Price','Neighbourhood '] ].groupby('Neighbourhood ').describe()

In [14]:
# API CALL
import os
import json
import pprint
import requests
import requests.exceptions
import pandas as pd


def get_api_response(url, response_type):
    try:
        response = requests.get(url)
        response.raise_for_status()

    except requests.exceptions.HTTPError as errh:
        return "An Http Error occurred: " + repr(errh)
    except requests.exceptions.ConnectionError as errc:
        return "An Error Connecting to the API occurred: " + repr(errc)
    except requests.exceptions.Timeout as errt:
        return "A Timeout Error occurred: " + repr(errt)
    except requests.exceptions.RequestException as err:
        return "An Unknown Error occurred: " + repr(err)

    if response_type == 'json':
        result = json.dumps(response.json(), sort_keys=True, indent=4)
    elif response_type == 'dataframe':
        result = pd.json_normalize(response.json())
    else:
        result = "An unhandled error has occurred!"

    return result

In [19]:
url = "https://restcountries.com/v3.1/name/de"
response_type = ['json', 'dataframe']
df = get_api_response(url, response_type[1])
print(df.shape)
print(df.columns)
df.info()

(68, 361)
Index(['tld', 'cca2', 'ccn3', 'cca3', 'cioc', 'independent', 'status',
       'unMember', 'capital', 'altSpellings',
       ...
       'name.nativeName.tam.common', 'currencies.LKR.name',
       'currencies.LKR.symbol', 'languages.sin', 'languages.tam',
       'name.nativeName.rus.official', 'name.nativeName.rus.common',
       'currencies.RUB.name', 'currencies.RUB.symbol', 'languages.rus'],
      dtype='object', length=361)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Columns: 361 entries, tld to languages.rus
dtypes: bool(3), float64(13), int64(1), object(344)
memory usage: 190.5+ KB

In [ ]:
json_string = get_api_response(url, response_type[0])
print(json_string)